table {
    width: 100%;
  }
  
  th.mat-sort-header-sorted {
    color: black;
  }
  .example-spacer {
    flex: 1 1 auto;
  }button{
    align-content: right;
    background-color: #2865A2;
}
.mat-icon {
    vertical-align: middle;    
  }