
   <div class="body overflow-hidden">
    <mat-tab-group #tabGroup (selectedTabChange)="handleTabChange($event)">
          <mat-tab aria-label="Containers">
            <ng-template mat-tab-label>
              <span matTooltip="Example of controls in use">
                Facture
              </span>
            </ng-template>
            <app-factures-comptable></app-factures-comptable>
          </mat-tab>
        <mat-tab >
            <ng-template mat-tab-label>
              <span matTooltip="General containers, like tables/dialogs">Nouvelle factures</span>
            </ng-template>
            <app-newfacture></app-newfacture>
          </mat-tab>
      <mat-tab >
        <ng-template mat-tab-label>
          <span matTooltip="General containers, like tables/dialogs">Compte de resultat</span>
        </ng-template>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <span matTooltip="Preview of factures ">
            Repport
          </span>
        </ng-template>
      </mat-tab>
    </mat-tab-group>
  </div>