<div class="container mb-4">
    <div class="row">
      <div class="col-md-8">
          <span class="h3">Mes Paiement</span> 
      </div>
      <div class="col-md-4 ">
          <form class="form-inline float-right">
              <input class="form-control" type="search" placeholder="Rechercher un clients" aria-label="Rechercher">
              <button class="btn my-2 my-sm-0 text-light bg_bouton_principal" type="submit"><i class="fas fa-search"></i></button>
            </form>  
      </div>
    </div>  
  </div>
        <table class="table  table-striped table-hover bg-light shadow">
            <thead>
              <tr>
                <th>Date</th>
                <th>Facture</th>
                <th>Méthode de Paiement</th>
                <th>Montant TTC € </th>
                <th>Montant HT €</th>
                <th class="float-right">Action <i class="fas fa-ellipsis-v "></i></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>23/11/2020</td>
                <td> FAC_6_0237</td>
                <td>CB</td>
                <td>1 200,00</td>
                <td>1 000,00</td>
              </tr>
              <tr>
                <td>23/11/2020</td>
                <td> FAC_6_0237</td>
                <td>CB</td>
                <td>1 200,00</td>
                <td>1 000,00</td>
              </tr>
              <tr>
                <td>23/11/2020</td>
                <td> FAC_6_0237</td>
                <td>CB</td>
                <td>1 200,00</td>
                <td>1 000,00</td>
              </tr>
              <tr>
                <td>23/11/2020</td>
                <td> FAC_6_0237</td>
                <td>CB</td>
                <td>1 200,00</td>
                <td>1 000,00</td>
              </tr>
              <tr>
                <td>23/11/2020</td>
                <td> FAC_6_0237</td>
                <td>CB</td>
                <td>1 200,00</td>
                <td>1 000,00</td>
              </tr>
              <tr>
                <td> FAC_6_0237</td>
                <td>23/11/2020</td>
                <td>CB</td>
                <td>1 200,00</td>
                <td>1 000,00</td>
              </tr>
              <tr>
                <td>23/11/2020</td>
                <td> FAC_6_0237</td>
                <td>CB</td>
                <td>1 200,00</td>
                <td>1 000,00</td>
              </tr>
              <tr>
                <td>23/11/2020</td>
                <td> FAC_6_0237</td>
                <td>CB</td>
                <td>1 200,00</td>
                <td>1 000,00</td>
              </tr>
    
            </tbody>
        </table>
    <div class="row justify-content-center mt-3 ">
        <nav aria-label="" >
            <ul class="pagination bg_container">
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
            </ul>
        </nav>
    </div>
    