<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>

 <mat-card class=" w-100">
        <div class="row ">
            <div class="col-md w-100">
                <div class="card">
                    <div class="card-header text-light" style="background-color: #355270;">
                        <p class="h3"><b>Note de frais </b></p> 
                    </div>
                </div>
            </div>
        </div>
<table class="table  table-striped table-hover bg-light shadow">
    <thead>
        <tr>
            <th>Justificatif</th>
            <th>Catégory</th>
            <th>Montant payé €</th>
            <th>Date </th>
            <th>Actions <i class="fas fa-ellipsis-v "></i></th>
            <th> <i class="fas fa-ellipsis-v "></i></th>
        </tr>
    </thead>
    <tbody *ngFor="let userexpenses of userexpense">
        <tr>
            <td>
                <a mat-list-item routerLinkActive="list-item-active" target="_blank" href="assets/img/facture.png">
                    <mat-icon> insert_photo</mat-icon> {{userexpenses.expenseNum}}
                </a>
            </td>
            <!-- <td><span class="badge badge-success">Valider</span> -->
            <td>{{userexpenses.category}}</td>
            <td>{{userexpenses.price}}</td>
            <td>{{userexpenses.createdAt| date:'yyyy-MM-dd'}}</td>
            <td>
                <button class="btn text-light my-2 my-sm-0" type="submit" style="background-color: red;"><mat-icon >delete</mat-icon></button>
                <button class="btn text-light my-2 my-sm-0" type="submit"><mat-icon> insert_drive_file</mat-icon></button>
            </td>
        </tr>
    </tbody>
</table>
<div class="row justify-content-center mt-3 ">
    <nav aria-label="">
        <ul class="pagination bg_container">
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</div>
</mat-card>

<script>
    $('#select-note').on("click", function () {
        $('select[name=note-de-frais] option[value="encours"]').prop('selected', true);
    });
</script>
