 
   
   <div class="container mt-5  pt-1  mb-3 ml-2 mr-5  float-left ml-2" >
    <div class="card shadow w-75 mr-5 ">
        <div class="card-body">
<div class="row">
 <div class="col-sm-6">
    <mat-card>
        <div class="card-header text-light" style="background-color: #2865A2;">
            Gaye
          </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Nom</label>
          <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Ville" value="Gaye">
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Prénom</label>
          <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Téléphone" value="Mboup">
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Email</label>
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Téléphone" value="gayegayemboup@gmail">
          </div>
    </mat-card>
</div>
       <div class="col-sm-6">
        <mat-card>
            <div class="card-header text-light" style="background-color: #2865A2;">
                Ajouter les info complémentaire
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">Adresse</label>
                <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Mobile">
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">Code postal</label>
                <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Mobile">
              </div>
            <div class="form-group">
              <label for="exampleInputEmail1">Ville *</label>
              <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Ville">
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">Téléphone</label>
              <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Téléphone">
            </div>
          <div class="form-group">
              <label for="exampleInputPassword1">Mobile</label>
              <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Mobile">
            </div>
           
        </mat-card>
       </div>
       </div>
       <div>
        <button class="btn text-light my-2 my-sm-0" type="submit" >Modifier</button>
    </div>
        </div>
      </div> 
</div>
