<div>
    <app-widget-area [data]="bigChart"></app-widget-area>
</div>

<br>

<mat-divider></mat-divider>

<br>

<div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px" class="stats-cards">
    <mat-card fxFlex="25">
        <app-widget-card label="Employées" total="12k" percentage="50" [data]="cards"></app-widget-card>
    </mat-card>
    <mat-card fxFlex="25">
        <app-widget-card label="Clients" total="10k" percentage="40" [data]="cards"></app-widget-card>
    </mat-card>
    <mat-card fxFlex="25">
        <app-widget-card label="Revenu" total="12k" percentage="50" [data]="cards"></app-widget-card>
    </mat-card>
    <mat-card fxFlex="25">
        <app-widget-card label="Dépense" total="10k" percentage="40" [data]="cards"></app-widget-card>
    </mat-card>
</div>

<br>
<mat-divider></mat-divider>

<br>

    
   