
<!-- 

<mat-sidenav-container fullscreen>
  <mat-sidenav mode="side"  #sidenav opened position="start"> 
      <span class="toolbar-spacer"></span>
  <mat-card-actions class="mb-2 center">
      <mat-accordion>
          <mat-expansion-panel hideToggle>
              <mat-expansion-panel-header>
                  Bilan Compte de résultat Balance
            </mat-expansion-panel-header>
                  <mat-card-actions class="mb-2 center">
                    <a id="link_bs" href="#">bs</a>
                      <button mat-button id="link_bs">Bilan synthétique</button>
                  </mat-card-actions>
                  <mat-card-actions class="mb-2 center">
                      <button mat-button id="crs">Compte de résultat synthétique</button>
                  </mat-card-actions>
                  <mat-card-actions class="mb-2 center">
                      <button mat-button id="link_bg">Balance Général</button>
                  </mat-card-actions>
                  <mat-card-actions class="mb-2 center">
                      <button mat-button  >Bilan Général</button>
                  </mat-card-actions>  
              </mat-expansion-panel>
        </mat-accordion>
        
  </mat-card-actions>
  <mat-card-actions class="mb-2 center">
      <mat-accordion>
          <mat-expansion-panel hideToggle>
              <mat-expansion-panel-header>
                  Clients
            </mat-expansion-panel-header>
                  <mat-card-actions class="mb-2 center">
                    <button mat-button id="link_svc" >Statistique vente/clients/mois</button>
                  </mat-card-actions>
                  <mat-card-actions class="mb-2 center">
                      <button mat-button >Statistique vente/clients/mois</button>
                  </mat-card-actions>
                  <mat-card-actions class="mb-2 center">
                      <button mat-button>Balance Général</button>
                  </mat-card-actions>
              </mat-expansion-panel>
        </mat-accordion> 
  </mat-card-actions>
  <mat-card-actions class="mb-2 center">
      <mat-accordion>
          <mat-expansion-panel hideToggle>
              <mat-expansion-panel-header>
                  Banques /  Caisse
            </mat-expansion-panel-header>
                  <mat-card-actions class="mb-2 center">
                      <button mat-button id="link_scb" >Soldes comptes bancaires </button>
                  </mat-card-actions>
                  <mat-card-actions class="mb-2 center">
                      <button mat-button id="link_lob" >listes opérations bancaires</button>
                  </mat-card-actions>
                  <mat-card-actions class="mb-2 center">
                      <button mat-button id="link_sca">Solde Caisse</button>
                  </mat-card-actions>
                  <mat-card-actions class="mb-2 center">
                      <button mat-button id="link_oc">Opération Caisse</button>
                  </mat-card-actions>
              </mat-expansion-panel>
        </mat-accordion>   
      </mat-card-actions>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar >
        <button mat-button (click)="sidenav.toggle()">Dashbord</button>
        <span class="toolbar-spacer"></span>
        <button mat-button (click)="navTo('/finances')" >Finances</button>
        <button mat-button (click)="navTo('/compta')">Compta</button>
        <button mat-button (click)="navTo('/factures')">Factures</button>
        <button mat-button (click)="navTo('/note-de-frais')" >Note de frais</button>
        <button mat-button (click)="navTo('/clocture')">Clocture</button>
        <button mat-button (click)="navTo('societeliste')" >societe</button>
      </mat-toolbar> -->
      
     <div class="main-content" id="content">

      <kendo-chart [categoryAxis]='{ categories: categories }'>
        <kendo-chart-title text='Gross domestic product growth /GDP annual %/'></kendo-chart-title>
        <kendo-chart-legend position='bottom' orientation='horizontal'></kendo-chart-legend>
        <kendo-chart-tooltip format='{0}%'></kendo-chart-tooltip>
        <kendo-chart-series>
            <kendo-chart-series-item *ngFor='let item of series'
                [data]='item.data' [name]='item.name'>
            </kendo-chart-series-item>
        </kendo-chart-series>
      </kendo-chart>
    </div> 
   