<mat-card>
    <form>
        <div class="container">
            <div class="row">
                <ul><li ></li></ul>
                <div class="col bg-warning ">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Possimus, eum esse. Suscipit rerum quis at, soluta vero quasi asperiores tempore numquam qui, modi, esse beatae consequuntur ullam nostrum hic quae.</div>
                <!--La classe bg-success ajoute un fond vert à l'élément-->
                <div class="col bg-success">3è élément</div>
            </div>
        </div>
  </form>
</mat-card>
                
   
           
          