<mat-card>
  <div class="row">
    <div class="col-md-8">
        <span class="h3">Liste des factures</span> 
    </div>
    <span class="example-spacer"></span>
  </div>
</mat-card>
<mat-card>
<div class="row">
<div class="col-md-2  float-left">
<input class="form-control" type="search" placeholder="Rechercher un facture" aria-label="Rechercher">
</div>
      <table class="table  table-striped table-hover bg-light shadow">
          <thead>
            <tr>
              <th>N° facture</th>
              <th>Status</th>
              <th>Date d'échéance</th>
              <th>Montant dû € </th>
              <th>Montant payé €</th>
              <th>Montant restant €</th>
              <th >delete </th>
              <th >save </th>

            </tr>
          </thead>
          <tbody>
            <tr>
            <td> 
              <a mat-list-item routerLinkActive="list-item-active" href="assets/img/facture.pdf" target="_blank">FAC_6_0237</a>
              </td>
              <td><span class="badge badge-success">payée</span>
                <td>23/11/2020</td>
              <td>2 000,00</td>
              <td>2 000,00</td>
              <td>0,00</td>
              <td>
                <mat-icon >delete</mat-icon>
            </td>
            <td>
                <mat-icon class="fas fa-ellipsis-v ">get_app</mat-icon>
             </td>
            </tr>
            <tr>
              <td> 
                <a target="_blank" href="asset/img/facture.pdf" ng-click="(asset/img/facture.pdf)" style="line-height:20px">FAC_6_0237</a>
                <!-- <a mat-list-item routerLinkActive="list-item-active" routerLink="/clients">FAC_6_0237</a> -->
                </td>
                <td><span class="badge badge-success">payée</span>
                </td>
              <td>23/11/2020</td>
              <td>2 000,00</td>
              <td>2 000,00</td>
              <td>0,00</td>
              <td>
                <mat-icon >delete</mat-icon>
            </td>
            <td>
                <mat-icon class="fas fa-ellipsis-v ">get_app</mat-icon>
             </td>
            </tr>
            <tr>
              <td> 
                <a mat-list-item routerLinkActive="list-item-active" routerLink="/clients">FAC_6_0237</a>
                </td>
                <td><span class="badge badge-warning">Avance</span>
                </td>
              <td>23/11/2020</td>
              <td>2 000,00</td>
              <td>1 000,00</td>
              <td>0,00</td>
              <td>
                <mat-icon >delete</mat-icon>
            </td>
            <td>
                <mat-icon class="fas fa-ellipsis-v ">get_app</mat-icon>
             </td>
            </tr>
            <tr>
              <td> 
                <a mat-list-item routerLinkActive="list-item-active" routerLink="/clients">FAC_6_0237</a>
                </td>
                <td><span class="badge badge-warning">Avance</span>
                  <td>23/11/2020</td>
              <td>2 000,00</td>
              <td>1 000,00</td>
              <td>1 000,00</td>
              <td>
                <mat-icon >delete</mat-icon>
            </td>
            <td>
                <mat-icon class="fas fa-ellipsis-v ">get_app</mat-icon>
             </td>   
            </tr>
            <tr>
              <td> 
                <a mat-list-item routerLinkActive="list-item-active" routerLink="/clients">FAC_6_0237</a>
                </td>
                <td><span class="badge badge-danger">impayé</span></td>
              <td>23/11/2020</td>
              <td>2 000,00</td>
              <td>0,00</td>
              <td>2 000,00</td>
              <td>
                <mat-icon >delete</mat-icon>
            </td>
            <td>
                <mat-icon class="fas fa-ellipsis-v ">get_app</mat-icon>
             </td>
            </tr>
            <tr>
              <td> 
                <a mat-list-item routerLinkActive="list-item-active" routerLink="/clients">FAC_6_0237</a>
                </td>
                <td><span class="badge badge-danger">impayé</span></td>
              <td>23/11/2020</td>
              <td>2 000,00</td>
              <td>0,00</td>
              <td>2 000,00</td>
              <td>
                <mat-icon >delete</mat-icon>
            </td>
            <td>
                <mat-icon class="fas fa-ellipsis-v ">get_app</mat-icon>
             </td>
            </tr>
            <tr>
              <td> 
                <a mat-list-item routerLinkActive="list-item-active" routerLink="/clients">FAC_6_0237</a>
                </td>
                <td><span class="badge badge-success">payée</span>
                  <td>23/11/2020</td>
              <td>2 000,00</td>
              <td>2 000,00</td>
              <td>0,00</td>
              <td>
                <mat-icon >delete</mat-icon>
            </td>
            <td>
                <mat-icon class="fas fa-ellipsis-v ">get_app</mat-icon>
             </td>
            </tr>
            <tr>
              <td> 
                <a mat-list-item routerLinkActive="list-item-active" routerLink="/clients">FAC_6_0237</a>
                </td>
                <td><span class="badge badge-success">payée</span>
                  <td>23/11/2020</td>
                <td>2 000,00</td>
                <td>2 000,00</td>
                <td>0,00</td>
                <td>
                  <mat-icon >delete</mat-icon>
              </td>
              <td>
                  <mat-icon class="fas fa-ellipsis-v ">get_app</mat-icon>
               </td>
            </tr>
  
          </tbody>
      </table>
  <div class="row justify-content-center mt-3 ">
      <nav aria-label="" >
          <ul class="pagination bg_container">
          <li class="page-item">
              <a class="page-link" href="#" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
              </a>
          </li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item">
              <a class="page-link" href="#" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
              </a>
          </li>
          </ul>
      </nav>
  </div>
</mat-card>
