<div class="container mb-4">
  <div class="row">
    <div class="col-md-8">
        <span class="h3">Liste mes clients</span> 
    </div>
    <div class="col-md-4 ">
        <form class="form-inline float-right">
            <input class="form-control" type="search" placeholder="Rechercher un clients" aria-label="Rechercher">
            <button class="btn my-2 my-sm-0 text-light bg_bouton_principal" type="submit"><i class="fas fa-search"></i></button>
          </form>  
    </div>
  </div>  
</div>
      <table class="table  table-striped table-hover bg-light shadow">
          <thead>
            <tr>
              <th>N° de client</th>
              <th>Client</th>
              <th>Date d'échéance</th>
              <th>Prix total TTC € </th>
              <th>Prix total HT €</th>
              <th class="float-right">Action <i class="fas fa-ellipsis-v "></i></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td> FAC_6_0237</td>
              <td>
                <a mat-list-item routerLinkActive="list-item-active" routerLink="/clients">gaye</a>
              </td>
              <td>23/11/2020</td>
              <td>3 452,00</td>
              <td>2 876,67</td>
               
              <td>
                  <div class="float-right">
                      <div id="toolbar">
                          <button id="remove" class="btn btn-danger" disabled>
                            <i class="fa fa-trash"></i> Delete
                          </button>
                        </div>
                  </div>
              </td>
            </tr>
            <tr>
              <td> FAC_6_0237</td>
              <td> 
                <a mat-list-item routerLinkActive="list-item-active" routerLink="/clients">gaye</a>
                </td>
              <td>23/11/2020</td>
              <td>3 452,00</td>
              <td>2 876,67</td>
               
              <td>
                <div class="float-right">
                  <button id="remove" class="btn btn-danger" disabled>
                      <i class="fa fa-trash"></i> Delete
                    </button>                
             </div>
              </td>
            </tr>
            <tr>
                <td> FAC_6_0237</td>
                <td> 
                  <a mat-list-item routerLinkActive="list-item-active" routerLink="/clients">gaye</a>
                  </td>
              <td>23/11/2020</td>
              <td>3 452,00</td>
              <td>2 876,67</td>
               
              <td>
                  <div class="float-right">
                      <button id="remove" class="btn btn-danger" disabled>
                          <i class="fa fa-trash"></i> Delete
                        </button>
                   </div>
              </td>
            </tr>
            <tr>
                <td> FAC_6_0237</td>
                <td> 
                  <a mat-list-item routerLinkActive="list-item-active" routerLink="/clients">gaye</a>
                  </td>
              <td>23/11/2020</td>
              <td>3 452,00</td>
              <td>2 876,67</td>
              <td>
                  <div class="float-right">
                      <button id="remove" class="btn btn-danger" disabled>
                          <i class="fa fa-trash"></i> Delete
                        </button>
                  </div>
              </td>
            </tr>
            <tr>
                <td> FAC_6_0237</td>
                <td> 
                  <a mat-list-item routerLinkActive="list-item-active" routerLink="/clients">gaye</a>
                </td>
              <td>23/11/2020</td>
              <td>3 452,00</td>
              <td>2 876,67</td>
              <td>
                  <div class="float-right">
                      <button id="remove" class="btn btn-danger" disabled>
                          <i class="fa fa-trash"></i> Delete
                        </button>
                  </div>
              </td>
            </tr>
            <tr>
                <td> FAC_6_0237</td>
                <td> 
                  <a mat-list-item routerLinkActive="list-item-active" routerLink="/clients">gaye</a>
                  </td>
              <td>23/11/2020</td>
              <td>3 452,00</td>
              <td>2 876,67</td>
              <td>
                  <div class="float-right">
                      <button id="remove" class="btn btn-danger" disabled>
                          <i class="fa fa-trash"></i> Delete
                        </button>
                      </div>
              </td>
            </tr>
            <tr>
                <td> FAC_6_0237</td>
                <td> 
                  <a mat-list-item routerLinkActive="list-item-active" routerLink="/clients">gaye</a> </td>
              <td>23/11/2020</td>
              <td>3 452,00</td>
              <td>2 876,67</td>
               
              <td>
                  <div class="float-right">
                      <button id="remove" class="btn btn-danger" disabled>
                          <i class="fa fa-trash"></i> Delete
                        </button>
             
                  </div>
              </td>
            </tr>
            <tr>
                <td> FAC_6_0237</td>
                <td> 
                  <a mat-list-item routerLinkActive="list-item-active" routerLink="/clients">gaye</a>
                  </td>
              <td>23/11/2020</td>
              <td>3 452,00</td>
              <td>2 876,67</td>
               
              <td>
                  <div class="float-right">
                      <div id="toolbar">
                          <button id="remove" class="btn btn-danger" disabled>
                            <i class="fa fa-trash"></i> Delete
                          </button>
                        </div>
                  </div>
              </td>
            </tr>
  
          </tbody>
      </table>
  <div class="row justify-content-center mt-3 ">
      <nav aria-label="" >
          <ul class="pagination bg_container">
          <li class="page-item">
              <a class="page-link" href="#" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
              </a>
          </li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item">
              <a class="page-link" href="#" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
              </a>
          </li>
          </ul>
      </nav>
  </div>
  