<div class="row">
    <div class="col-sm-3">
        <div class="form-group">
            <label for="exampleFormControlSelect1">Example select</label>
            <select class="form-control" id="exampleFormControlSelect1">
            <option>Tous les Factures</option>
            <option>Les Factures nom payée</option>
            <option>Les Factures payée</option>
            <option>Les Factures payée à partiel</option>
            </select>
        </div>
    </div>
</div>   
  <table class="table" border="1">
    <thead class="table table-striped">
      <tr>
        <th scope="col">Nom & Prénom</th>
        <th scope="col">Email</th>
        <th scope="col">Tél</th>
        <th scope="col">Handle</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark Otto</td>
        <td>hhhh@gmx.de</td>
        <td>@mdo</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Larry</td>
        <td>the Bird</td>
        <td>@twitter</td>
      </tr>
    </tbody>
  </table>

