
   <div class="body">
    <mat-tab-group #tabGroup (selectedTabChange)="handleTabChange($event)">
        <mat-tab >
            <ng-template mat-tab-label>
              <span matTooltip="General containers, like tables/dialogs" >Coordonnées </span>
            </ng-template>
            <app-coordonnees ></app-coordonnees>
          </mat-tab>
          <mat-tab aria-label="Containers">
            <ng-template mat-tab-label>
              <span matTooltip="Example of controls in use">
                Gérants 
              </span>
            </ng-template>
            <app-gerant></app-gerant>
          </mat-tab>
        <mat-tab >
            <ng-template mat-tab-label>
              <span matTooltip="General containers, like tables/dialogs">Paiements</span>
            </ng-template>
            <app-paiements >
            </app-paiements>
          </mat-tab>
      <mat-tab >
        <ng-template mat-tab-label>
          <span matTooltip="General containers, like tables/dialogs">factures</span>
        </ng-template>
        <app-factures >
        </app-factures>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <span matTooltip="Preview of factures ">
            Devis
          </span>
        </ng-template>
        <app-devisliste></app-devisliste>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <span matTooltip="Preview of factures ">
            Création Facture
          </span>
        </ng-template>
        <app-newfacture></app-newfacture>
      </mat-tab>
    </mat-tab-group>
  </div>