
<mat-card>
  <div class="row">
    <div class="col-md-8">
        <span class="h3">Utilisateurs</span> 
    </div>
    <span class="example-spacer"></span>
  </div>
  <div class="row">
    <div class="col-md-12  ">
      <form class="form-inline my-2 my-lg-0 d-flex flex-row float-right">
        <input class="form-control mr-sm-0" type="search" placeholder="Search" aria-label="Search">
        <button class="btn text-light my-2 my-sm-0" type="submit"><mat-icon>search</mat-icon></button>
      </form>  </div>
  </div>
</mat-card>
<mat-card>
  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
<!-- Position Column -->
<ng-container matColumnDef="identifiant">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Identifiant. </th>
    <td mat-cell *matCellDef="let element">  <mat-icon class="float-left mb-2 center">account_circle</mat-icon>
      {{element.identifiant}} </td>
  </ng-container>
    <!-- Position Column -->
    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Prénom et  Nom. </th>
      <td mat-cell *matCellDef="let element"> {{element.position}} </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Société </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="weight">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Role </th>
      <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="symbol">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Date d'inscription </th>
        <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
      </ng-container>
      <ng-container matColumnDef="modifier">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Modifier </th>
        <td mat-cell *matCellDef="let element" routerLink = '/profile'> <mat-icon>edit</mat-icon>
        </td>
      </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</mat-card>
  