@import "~@angular/material/prebuilt-themes/indigo-pink.css";
mat-grid-tile {
  background: lightblue;
}
:host {
  display: flex;
  flex-direction: column;
  flex: 1 1 100%;
}

.content {
  background: #71FA4C;
}
