<!-- 

<mat-sidenav-container fullscreen>
  <mat-sidenav mode="side"  #sidenav opened position="start"> 
      <span class="toolbar-spacer"></span>
  <mat-card-actions class="mb-2 center">
      <mat-accordion>
          <mat-expansion-panel hideToggle>
              <mat-expansion-panel-header>
                  Bilan Compte de résultat Balance
            </mat-expansion-panel-header>
                  <mat-card-actions class="mb-2 center">
                    <a id="link_bs" href="#">bs</a>
                      <button mat-button id="link_bs">Bilan synthétique</button>
                  </mat-card-actions>
                  <mat-card-actions class="mb-2 center">
                      <button mat-button id="crs">Compte de résultat synthétique</button>
                  </mat-card-actions>
                  <mat-card-actions class="mb-2 center">
                      <button mat-button id="link_bg">Balance Général</button>
                  </mat-card-actions>
                  <mat-card-actions class="mb-2 center">
                      <button mat-button  >Bilan Général</button>
                  </mat-card-actions>  
              </mat-expansion-panel>
        </mat-accordion>
        
  </mat-card-actions>
  <mat-card-actions class="mb-2 center">
      <mat-accordion>
          <mat-expansion-panel hideToggle>
              <mat-expansion-panel-header>
                  Clients
            </mat-expansion-panel-header>
                  <mat-card-actions class="mb-2 center">
                    <button mat-button id="link_svc" >Statistique vente/clients/mois</button>
                  </mat-card-actions>
                  <mat-card-actions class="mb-2 center">
                      <button mat-button >Statistique vente/clients/mois</button>
                  </mat-card-actions>
                  <mat-card-actions class="mb-2 center">
                      <button mat-button>Balance Général</button>
                  </mat-card-actions>
              </mat-expansion-panel>
        </mat-accordion> 
  </mat-card-actions>
  <mat-card-actions class="mb-2 center">
      <mat-accordion>
          <mat-expansion-panel hideToggle>
              <mat-expansion-panel-header>
                  Banques /  Caisse
            </mat-expansion-panel-header>
                  <mat-card-actions class="mb-2 center">
                      <button mat-button id="link_scb" >Soldes comptes bancaires </button>
                  </mat-card-actions>
                  <mat-card-actions class="mb-2 center">
                      <button mat-button id="link_lob" >listes opérations bancaires</button>
                  </mat-card-actions>
                  <mat-card-actions class="mb-2 center">
                      <button mat-button id="link_sca">Solde Caisse</button>
                  </mat-card-actions>
                  <mat-card-actions class="mb-2 center">
                      <button mat-button id="link_oc">Opération Caisse</button>
                  </mat-card-actions>
              </mat-expansion-panel>
        </mat-accordion>   
      </mat-card-actions>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar >
        <button mat-button (click)="sidenav.toggle()">Dashbord</button>
        <span class="toolbar-spacer"></span>
        <button mat-button (click)="navTo('/finances')" >Finances</button>
        <button mat-button (click)="navTo('/compta')">Compta</button>
        <button mat-button (click)="navTo('/factures')">Factures</button>
        <button mat-button (click)="navTo('/note-de-frais')" >Note de frais</button>
        <button mat-button (click)="navTo('/clocture')">Clocture</button>
        <button mat-button (click)="navTo('societeliste')" >societe</button>
      </mat-toolbar>
      
     <div class="main-content" id="content">
         <script>
             //container is the selected element into which the content is to be loaded
                let container = document.querySelector('#content'),
                //these are the selectors for your links
                    linkStatVenteClients = document.querySelector('#link_svc'),
                    linkBilanGen = document.querySelector('#link_bs');
                //function that loads content
                function loadContent(content) {
                    // AJAX request
                    let xhr = new XMLHttpRequest();
                    xhr.open('POST', content, true);
                    xhr.onload = function() {
                    let el = document.createElement('div');
                    el.innerHTML = this.response;
                    container.empty()
                    container.prepend(el);
                    }
                    xhr.send();
                }
                //After clicking the selector it will start the function loading the content. Enter the URL to your files in the appropriate place
                linkStatVenteClients.addEventListener('click', function(e){
                loadContent("navTo('/login')");
                e.preventDefault() ;
                });
                linkBilanGen.addEventListener('click', function(e){
                loadContent("navTo('/login')");
                e.preventDefault() ;
                });
         </script> -->

      <!-- <kendo-chart [categoryAxis]='{ categories: categories }'>
        <kendo-chart-title text='Gross domestic product growth /GDP annual %/'></kendo-chart-title>
        <kendo-chart-legend position='bottom' orientation='horizontal'></kendo-chart-legend>
        <kendo-chart-tooltip format='{0}%'></kendo-chart-tooltip>
        <kendo-chart-series>
            <kendo-chart-series-item *ngFor='let item of series'
                [data]='item.data' [name]='item.name'>
            </kendo-chart-series-item>
        </kendo-chart-series>
      </kendo-chart> -->
   <!-- </div> 
    <router-outlet></router-outlet> 
   </mat-sidenav-content> 
</mat-sidenav-container>  -->


 <!-- Sidebar  -->
 <div class="wrapper">
 <nav id="sidebar">
    <div class="sidebar-header">
        <h3>BC - QUOTE </h3>
        <strong>BC</strong>
        <small>Employé</small>
        
    </div>

    <ul class="list-unstyled components" >
        <!-- <li class="active"> -->
            <li class="{% if slug == 'client_liste' or  slug == 'client_create' or  slug == 'client_update'%}active{% endif %}" >
            <a href="#clientSousmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                <i class="fas fa-users"></i>
                Clients
            </a>
            <ul class="collapse list-unstyled Submenu" id="clientSousmenu">
                <li>
                    <a href="{{ path('agent_client_liste') }}">Liste</a>
                </li>
                <li>
                    <a href="{{ path('agent_client_create') }}">Ajouter</a>
                </li>
            </ul>
        </li>
        <li>
        <li >
                <a  href="#" data-toggle="collapse"  aria-expanded="false" class="dropdown-toggle">
                    <i class="fas fa-user"></i>
                    Prospect
                </a>
                <ul class="collapse list-unstyled Submenu" id="prospectSousmenu"  >
                    <li>
                        <a href="{{ path('agent_prospect_liste') }}" >Liste</a>
                    </li>
                    <li>
                        <a href="{{ path('agent_prospect_create') }}">Ajouter</a>
                    </li>
                </ul>
            </li>
           
            <li >
                <a  href="#articleSousmenu" data-toggle="collapse"  aria-expanded="false" class="dropdown-toggle">
                    <i class="fas fa-tags"></i>
                    Articles
                </a>
                <ul class="collapse list-unstyled Submenu" id="articleSousmenu"  >
                    <li>
                        <a href="{{ path('agent_article_liste') }}">Liste</a>
                    </li>
                    <li>
                        <a href="{{ path('agent_article_create') }}">Ajouter</a>
                    </li>
                </ul>
            </li>
            <li class="{% if slug == 'facture_liste' or  slug == 'facture_create' or  slug == 'facture_read'%}active{% endif %}">
                <a  href="#factureSousmenu" data-toggle="collapse"  aria-expanded="false" class="dropdown-toggle">
                    <i class="fas fa-file-invoice-dollar"></i>
                    Factures
                </a>
                <ul class="collapse list-unstyled Submenu" id="factureSousmenu"  >
                    <li>
                        <a href="{{ path('agent_facture_liste') }}">Liste</a>
                    </li>
                    <li>
                        <a href="{{ path('agent_facture_create') }}">Ajouter</a>
                    </li>
                </ul>
            </li>
            <li class="{% if slug == 'devis_liste' or  slug == 'devis_create' or  slug == 'devis_read' or  slug == 'devis_update'%}active{% endif %}">
                <a  href="#devisSousmenu" data-toggle="collapse"  aria-expanded="false" class="dropdown-toggle">
                    <i class="fas fa-file-contract"></i>
                   Devis
                </a>
                <ul class="collapse list-unstyled Submenu" id="devisSousmenu"  >
                    <li>
                        <a href="{{ path('agent_devis_liste') }}">Liste</a>
                    </li>
                    <li>
                        <a href="{{ path('agent_devis_create') }}">Ajouter</a>
                    </li>
                </ul>
            </li>
        </li>


        <li class="{% if slug == 'echeance'%}active{% endif %}">
            <a href="{{ path('agent_echeance') }}">
                <i class="far fa-calendar-alt"></i>
                Echeance clients
            </a>
        </li>
     
        <li>
            <a href="#">
                <i class="fas fa-chart-pie"></i>
                Statistiques
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fas fa-file-invoice-dollar"></i>
                Note de frais 
            </a>
        </li>
    </ul>

    <ul class="list-unstyled CTAs">
        <li>
            <a href="#" class="download">Mon Compte</a>
        </li>
        <li>
            <a href="#" class="download">FR/EN</a>
        </li>
        <li>
            <a href="https://bootstrapious.com/p/bootstrap-sidebar" class="article">Déconnexion</a>
        </li>
    </ul>
</nav>
 <!-- Page Content  -->
 <div id="content">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            
            <button type="button" id="sidebarCollapse" class="btn bg_bleu1"  >
                <i class="fas fa-2x fa-arrows-alt-h text-light"></i>
            </button>
            <button type="button" id="sidebarCollapse" class="btn bg_bleu1 ml-2" data-toggle="tooltip" data-placement="bottom" title="Messagerie">
                <i class="fas fa-2x fa-comments text-light"></i>
            </button>
            <button type="button" id="sidebarCollapse" class="btn bg_bleu1 ml-2" data-toggle="tooltip" data-placement="bottom" title="Factures reglées">
                <i class="fas fa-2x fa-file-invoice-dollar text-light"></i>
            </button>
            <button type="button" id="sidebarCollapse" class="btn bg_bleu1 ml-2" data-toggle="tooltip" data-placement="bottom" title="Factures impayées">
                <i class="fas fa-2x fa-file-invoice-dollar couleur_rose"></i>
                <span class="text-light cachee">Factures impayées</span>
            </button>
            <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-align-justify"></i>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                
               
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link float-right" href="#">Alexia Heren <br>
                        Société MBS</a>
                    </li>
                    <img src="{{asset('build/images/user1.jpg')}}" class="rounded-circle w-25 h-25" alt="logo BCQUOTE" loading="lazy" style="height:70px!important;width:70px!important;">
                    
                    
                </ul>
            </div>
        </div>
    </nav>
<!-- jQuery CDN - Slim version (=without AJAX) -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <!-- Popper.JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
<script>
// sidebar
$(document).ready(function () {
    $('#sidebarCollapse').on('click', function () {
        $('#sidebar').toggleClass('active');
    });
});
</script>
