<mat-grid-list cols="3" rowHeight="3:1">
    <mat-grid-tile>Mon espace personelle</mat-grid-tile>
    <mat-grid-tile>Societe</mat-grid-tile>
    <mat-grid-tile>3</mat-grid-tile>
    <mat-grid-tile>4</mat-grid-tile>
    <mat-grid-tile>4</mat-grid-tile>
    <mat-grid-tile>Chat</mat-grid-tile>
  </mat-grid-list>
  <mat-grid-list cols="3" rowHeight="3:2">
    <mat-grid-tile>Mon espace personelle</mat-grid-tile>
    <mat-grid-tile>Societe</mat-grid-tile>
    <mat-grid-tile>3</mat-grid-tile>
    <mat-grid-tile>4</mat-grid-tile>
    <mat-grid-tile>4</mat-grid-tile>
    <mat-grid-tile>Chat</mat-grid-tile>
  </mat-grid-list>