<div class="container">
      <table mat-table [dataSource]="dataSource" class="table  table-striped table-hover bg-light shadow">
        <!-- Position Column -->
      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef > Nom. </th>
        <td mat-cell *matCellDef="let element"> {{element.position}} </td>
        <td>
          <div class="float-right">
              <div id="toolbar">
                  <button id="remove" class="btn btn-danger" disabled>
                    <i class="fa fa-trash"></i> Delete
                  </button>
                </div>
          </div>
      </td>
      </ng-container>
      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> prénom </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>
    
      <!-- Weight Column -->
      <ng-container matColumnDef="weight">
        <th mat-header-cell *matHeaderCellDef> adresse </th>
        <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
      </ng-container>
    
      <!-- Symbol Column -->
    <ng-container matColumnDef="symbol">
        <th mat-header-cell *matHeaderCellDef> ville </th>
        <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
      </ng-container>
  
      <ng-container matColumnDef="symbol1">
        <th mat-header-cell *matHeaderCellDef> CP </th>
        <td mat-cell *matCellDef="let element"> {{element.symbol1}} </td>
      </ng-container>
  
      <ng-container matColumnDef="symbol2">
        <th mat-header-cell *matHeaderCellDef> email </th>
        <td mat-cell *matCellDef="let element"> {{element.symbol2}} </td>
      </ng-container>
  
      <ng-container matColumnDef="symbol3">
        <th mat-header-cell *matHeaderCellDef> status </th>
        <td mat-cell *matCellDef="let element"> {{element.symbol3}} </td>
      </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>    
    <mat-paginator [length]="100"
    [pageSize]="10"
    [pageSizeOptions]="[5, 10, 25, 100]">
    </mat-paginator>
</div>