<mat-toolbar > 
    <mat-toolbar-row>
        <button mat-icon-button (click)="toggleSideBar()">
            <mat-icon>menu</mat-icon>
        </button>
        <!-- <img src="assets/img/logo.PNG" alt="Soufiane FADIL"> -->
        <div fxFlex fxLayout="row" fxLayoutAlign="flex-end">
            <ul fxLayout="row" fxLayoutGap="20px">
              <li>
                <button mat-icon-button>
                    <mat-icon>settings</mat-icon>
                </button>
                </li>
                <li>
                    <button mat-icon-button>
                        <mat-icon>help_outline</mat-icon>
                    </button>
                </li>
                <li>
                    <button mat-button [matMenuTriggerFor]="menu">
                        <mat-icon>person_outline</mat-icon>
                        Gaye Mboup
                    </button>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item routerLink = "/">
                            <mat-icon>exit_to_app</mat-icon>
                            Sign out
                        </button>
                        <button mat-menu-item>
                            <mat-icon>account_circle</mat-icon>
                            <a routerLink = "/profile">Profile</a> 
                        </button>
                        <button mat-menu-item routerLink = "/register">
                            <mat-icon>add</mat-icon>
                            ajouter un comptable 
                        </button>

                    </mat-menu>
                    <button mat-icon-button>
                        <mat-icon routerLink = "/discussion" > chat_bubble</mat-icon>
                    </button>

                </li>
            </ul>
        </div>
    </mat-toolbar-row>
</mat-toolbar>