@import "~@angular/material/prebuilt-themes/indigo-pink.css";

mat-grid-tile {
    background: lightblue;
  }
mat-sidenav {
    width: 280px;
    padding:15px;
    color: #fff;
}
.mat-expansion-panel-header + .mat-panel-title{
  color:#fff
}
.mat-expansion-panel{
  background-color: #355270;
  color:#fff
}
.mat-toolbar{
  background-color: #2B3D4F;
  color:#fff
}
.mat-panel-title{
  color:#fff
}
.mat-drawer { 
    background-color: #355270;
    color:#fff
}
.main-content {
    padding:20px;
}
.toolbar-spacer {
    flex: 1 1 auto;
}
.mat-accordion{
  color: rgb(207, 188, 188);
}

table {
    width: 100%;
  }
  .companyName{
    font-size: 150%;
}
div {
    overflow: inherit;
}
a{
    text-decoration: none;
    font-size: 110%;
    white-space: normal;
}
button{
    font-size: 110%;
    min-width: min-content;
}
.example-icon {
    padding: 0 14px;
  }

  .example-spacer {
    flex: 1 1 auto;
  }
 
  .example-tree-invisible {
    display: none;
  }
  
.example-tree ul,
.example-tree li {
    margin-top: 0;
    margin-bottom: 0;
    list-style-type: none;
  }


  :host {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .form-select{
    padding: 10px 10px;
    padding: 10;
    margin: 10;
    border: 1px solid #ccc;
    width: 150px;
    border-radius: 15px;
    overflow: hidden;
    background-color: #fff;
    background: #fff;
    position: relative;
}