<section id="pricing" class="bg-white">
    <div class="container">
        <h2 class="text-center">Recettes </h2>
        <div class="spacer spacer-line border-primary">&nbsp;</div>
        <div class="spacer">&nbsp;</div>
        <div class="row" >
            <div class="col-md-4" *ngFor='let item of series; let i=index;'>
                <div class="pricing-table" [class.bg-success]="i === 2">
                    <div class="pricing-table-title">
                        <h5 class="pricing-title text-white" [class.bg-danger]="i === 1" [class.bg-warning]="i === 0">{{item.name}}</h5>
                    </div>
                    <div class="pricing-table-price text-center bg-dark">
                        <p class="title-font">
                            <span class="pricing-currency text-white">€</span>
                            <span class="pricing-price text-white" >{{item.somme}}</span>
                        </p>
                    </div>
                </div>
            </div>
           <!-- <div class="col-md-4" *ngIf='i === 1'>
                <div class="pricing-table bg-lightgrey">
                    <div class="pricing-table-title">
                        <h5 class="pricing-title bg-primary-hover text-white">Reste à payer</h5>
                    </div>
                    <div class="pricing-table-price text-center bg-primary">
                        <p class="title-font">
                            <span class="pricing-currency text-white">€</span>
                            <span class="pricing-price text-white" *ngIf='item.name == "Non payée"' >{{item.somme}}</span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4" *ngIf='i === 0'>
                <div class="pricing-table">
                    <div class="pricing-table-title">
                        <h5 class="pricing-title bg-info-hover text-white">En retard</h5>
                    </div>
                    <div class="pricing-table-price text-center bg-info">
                        <p class="title-font">
                            <span class="pricing-currency text-white">€</span>
                            <span class="pricing-price text-white" *ngIf='item.name == "En retard"'>{{item.somme}}</span>
                        </p>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
</section>
<div >
      <kendo-chart [categoryAxis]='{ categories: categories }'>
        <kendo-chart-title text='Graphique de Recettes et Dépense/ mois'></kendo-chart-title>
        <kendo-chart-legend position='bottom' orientation='horizontal'></kendo-chart-legend>
        <kendo-chart-tooltip format='{0}€'></kendo-chart-tooltip>
        <kendo-chart-series>
            <kendo-chart-series-item *ngFor='let item of series ' 
                [data]='item.data' [name]='item.name'>
            </kendo-chart-series-item>
        </kendo-chart-series>
      </kendo-chart>
    </div> 