<mat-card>
  
<mat-card class=" w-100">
    <div class="row w-75">
        <div class="col-md w-100">
            <div class="card">
                <div class="card-header text-light" style="background-color: #2865A2;">
                    <p class="h2"><b>Factures du Comptable Gaye au client Gaye</b></p>
                </div>
                <div class="row" style="position: center;">
                    <div class="mb-3 col-md-6">
                        <div class="form-group">
                            <label for="form-select-lg" class="form-label">Client </label>
                            <select class="form-control" id="exampleFormControlSelect1" name="note-de-frais">
                                <option selected value="">Client </option>
                                <option value="encours"> client A</option>
                                <option value="encours">client B</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="form-select-lg" class="form-label">Etat </label>
                            <select class="form-control" id="exampleFormControlSelect1" name="note-de-frais">
                                <option selected value="">payé </option>
                                <option value="encours"> impayé </option>
                                <option value="encours">Avance </option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlInput1" class="form-label">Libellé de compte </label>
                            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Quantité">
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlInput1" class="form-label">Libellé </label>
                            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Libellé">
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlInput1" class="form-label">Quantité </label>
                            <input type="number" class="form-control" id="exampleFormControlInput1" placeholder="Quantité">
                        </div>
                    </div>
                    <div class=" mb-3 col-md-6">
                        <div class="form-group">
                            <label for="exampleFormControlInput1" class="form-label">Échéance </label>
                            <input type="date" class="form-control" id="exampleFormControlInput1" placeholder="échéance">
                            </div>
                        <div class="form-group">
                            <label for="form-select-lg" class="form-label">TVA </label>
                            <select class="form-control" id="exampleFormControlSelect1" name="note-de-frais">
                                <option selected value="">Article 1 </option>
                                <option value="encours"> Article A</option>
                                <option value="encours">Article B</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlInput1" class="form-label">Numéro de compte </label>
                            <input type="number" class="form-control" id="exampleFormControlInput1" placeholder="Quantité">
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlInput1" class="form-label">Prix HT </label>
                            <input type="number" class="form-control" id="exampleFormControlInput1" placeholder="prix HT">
                        </div>
                        <div class="form-group">
                            <label for="form-select-lg" class="form-label">TVA </label>
                            <select class="form-control" id="exampleFormControlSelect1" name="note-de-frais">
                                <option selected value=""> 20 % </option>
                                <option value="encours"> 19,20 % %</option>
                                <option value="encours"> 10% </option>
                                <option value="encours"> 5 %</option>

                            </select>
                        </div>
                    </div>
                    <div class="form-group mt-4 col-md">
                        <button type="button" class="btn btn-primary text-light form-group"
                            id="select-note">Ajouter un Article</button>
                    </div>
                   
                    <!-- <div class=" mb-3 col-md-4">
                        <div class="form-group mt-4">
                            <button type="button" class="btn btn-primary text-light form-group"
                                id="select-note"><mat-icon>search</mat-icon></button>
                        </div>
                    </div> -->
                    <!-- <button class="btn text-light my-2 my-sm-0" type="submit"><mat-icon>submit</mat-icon></button> -->
                </div>
            </div>
            <div class="form-group mt-4">
                <button type="button" class="btn btn-primary text-light form-group"
                    id="select-note">Créer</button>
            </div>
           
        </div>
        
    </div>
  </mat-card>
           