 
   
   <div class="container mt-5  pt-1  mb-3 ml-2 mr-5  float-left ml-2" >
    <div class="card shadow w-75 mr-5 ">
        <div class="card-body">
<div class="row">
       <div class="col-sm">
         <div class="card">
           <div class="card-header text-light " style="background-color: #2865A2;;">
            <b>Date d'inscritption:</b> 22/03/2017
           </div>
           <ul class="list-group list-group-flush">
             <li class="list-group-item"><b>Nom:</b><p class="float-right"> Pape Daouda</p></li>
             <li class="list-group-item"><b>Prénom: </b><p class="float-right">Seck</p></li>
             <li class="list-group-item"><b>Email: </b><p class="float-right">ndeyaseck@gmail.com</p> </li>
             <li class="list-group-item"><b>Téléphone: </b><p class="float-right">33546784950</p> </li></ul>
             <li class="list-group-item"><b>Adresse: </b> <p class="float-right">16 rue chartre</p></li>
             <li class="list-group-item"><b>Code postale: </b><p class="float-right">98765</p></li>
             <li class="list-group-item"><b>Ville: </b><p class="float-right">Paris</p></li>
             <li class="list-group-item"><b>Pays: </b> <p class="float-right">France</p></li>
           
         </div>
       </div>
       </div>
            
        </div>
      </div> 
</div>


 
 
 
<!--  
 
 
 <div class="container   pt-1  mb-5 float-left ml-2">
     <div class="card shadow ">
         <div class="card-body">
             <br>
             <span ></span>
             <h5><span class="badge bg_bouton_principal w-100 text-left text-light"><i class="fas fa-play"></i>  Coordonnées du clients</span></h5>
         
             <div class="card mt-3">
             <div class="card-body">
              <div class="row">
                  <div class="col-md-6">
                     <h2><u>Gérant</u></h2>
                     <span><b> </span> <br>
                     <mat-divider></mat-divider>
                     <br><br>
                     <span><b>:</b> </span>seck<br>
                     <mat-divider></mat-divider>
                     <br><br>
                     <span><b>Email:</b> </span> <br>
                     <mat-divider></mat-divider>
                     <br><br>
                     <span><b>:</b> 23456789056</span><br>
                     <mat-divider></mat-divider>
                     <br><br>
                     <span><b>Fax:</b> 0123445672</span><br>
                     <mat-divider></mat-divider>
                     <br><br>
                     <span><b>Adresse:</b></span> 16 rue chartre <br>
                     <mat-divider></mat-divider>
                     <br><br>
                     <span><b>Code postale:</b></span> 91000<br>
                    <mat-divider></mat-divider>
                    <br><br>
                    <span><b>Ville:</b> Evry</span><br>
                    <mat-divider></mat-divider>
                  </div>
              </div>  
             </div>
            </div>
         </div>
       </div> 
 </div> -->
