

 <div class="container   pt-1  mb-5 float-left ml-2">
     <div class="card shadow ">
         <div class="card-body">
             <br>
             <span ><b>Date d'inscritption:</b> 22/03/2017</span>
             <!-- <span class="float-right"><b>Employé Référent:</b> Alexia Heren</span>  <br><br> -->
             <h5><span class="badge bg_bouton_principal w-100 text-left text-light"><i class="fas fa-play"></i>  Coordonnées du clients</span></h5>
         
             <div class="card mt-3">
             <div class="card-body">
              <div class="row">
                  <div class="col-md-6">
                     <h2><u>Gérant</u></h2>
                     <span><b>Nom:</b>Pape Daouda </span> <br>
                     <mat-divider></mat-divider>
                     <br><br>
                     <span><b>Prémom:</b> </span>seck<br>
                     <mat-divider></mat-divider>
                     <br><br>
                     <span><b>Email:</b> xxxxxxxxxx@gmail.com</span> <br>
                     <mat-divider></mat-divider>
                     <br><br>
                     <span><b>Téléphone:</b> 23456789056</span><br>
                     <mat-divider></mat-divider>
                     <br><br>
                     <span><b>Fax:</b> 0123445672</span><br>
                     <mat-divider></mat-divider>
                     <br><br>
                     <span><b>Adresse:</b></span> 16 rue chartre <br>
                     <mat-divider></mat-divider>
                     <br><br>
                     <span><b>Code postale:</b></span> 91000<br>
                    <mat-divider></mat-divider>
                    <br><br>
                    <span><b>Ville:</b> Evry</span><br>
                    <mat-divider></mat-divider>
                  </div>
              </div>  
             </div>
            </div>
         </div>
       </div> 
 </div>
