.card-body {
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1.25rem;
}
 .main-div{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../../../../assets/img/login-bg.jpeg');
    
  }.button{
    color: #2865A2;
  }
  form{
    height: 100%;
    margin: 0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    //  background-image: url("/assets/bg.jpg");
     width: 100%;
     height: auto;
    }
  img{
    width: 350px;
    height: 300px;
    border-radius: 30px;
    background-color: #2865A2;
  }
 