<div class = "main-div">
  <div class="container" >
      <mat-card-header>
      <h1  style="float:none;margin:auto; text-align: center;">Création de compte</h1>
    </mat-card-header>
  <div class="row">
    <div class="col-sm-6">
      <mat-card-content fxLayout="column">
        <mat-form-field appearance="fill">
        <div class="mb-2 center">
          <mat-icon class="float-left mb-2 center">details</mat-icon>
            <input matInput placeholder="Libellé du compte *" name="Libellecompte *">
        </div>
        </mat-form-field>
      </mat-card-content>
      <mat-card-content fxLayout="column">
        <mat-form-field appearance="fill">
            <div class="mb-2 center">
              <mat-icon class="float-left"> vpn_key</mat-icon>
            <input type="text" matInput placeholder="Référence comptable du compte *" name="refComptable" >
            </div>
        </mat-form-field>
      </mat-card-content>
      <mat-card-content fxLayout="column">
        <mat-form-field appearance="fill">
        <div class="mb-2 center">
          <mat-icon class="float-left mb-2 center">credit_card</mat-icon>
            <input matInput placeholder="Nom de la banque" name="name" >
        </div>
        </mat-form-field>
      </mat-card-content>
      <mat-card-content fxLayout="column">
        <mat-form-field appearance="fill">
            <div class="mb-2 center">
              <mat-icon class="float-left"> vpn_key</mat-icon>
            <input type="text" matInput placeholder="IBAN" name="IBAN" >
            </div>
        </mat-form-field>
      </mat-card-content>
      <mat-card-content fxLayout="column">
        <mat-form-field appearance="fill">
            <div class="mb-2 center">
              <mat-icon class="float-left">email</mat-icon>
              <input type="text" matInput placeholder="Email" name="email" >
            </div>
        </mat-form-field>
      </mat-card-content>
      <mat-card-content fxLayout="column">
        <mat-form-field appearance="fill">
            <div class="mb-2 center">
              <mat-icon class="float-left">perm_phone_msg</mat-icon>
              <input type="text" matInput placeholder="phone" name="phone" >
            </div>
        </mat-form-field>
      </mat-card-content>
    </div>
    <div class="col-sm-6">
      <mat-card-content fxLayout="column">
        <mat-form-field appearance="fill">
        <div class="mb-2 center">
          <mat-icon class="float-left"> business</mat-icon>
          <input matInput placeholder="BIC" name="BIC" >
        </div>
        </mat-form-field>
      </mat-card-content>
      <mat-card-content fxLayout="column">
        <mat-form-field appearance="fill">
        <div class="mb-2 center">
          <mat-icon class="float-left"> account_balance_walle</mat-icon>
          <input matInput placeholder="Domiciliation bancaire *" name="Domiciliationbancaire" >
        </div>
        </mat-form-field>
      </mat-card-content>
      <mat-card-content fxLayout="column">
        <mat-form-field appearance="fill">
            <div class="mb-2 center">
              <mat-icon class="float-left">home</mat-icon>
              <input type="text" matInput placeholder="N° rue" name="rue" >
            </div>
        </mat-form-field>
      </mat-card-content>
      <mat-card-content fxLayout="column">
        <mat-form-field appearance="fill">
            <div class="mb-2 center">
              <mat-icon class="float-left">home</mat-icon>
              <input type="text" matInput placeholder="Code postal" name="postal" >
            </div>
        </mat-form-field>
      </mat-card-content>
      <mat-card-content fxLayout="column">
        <mat-form-field appearance="fill">
            <div class="mb-2 center">
              <mat-icon class="float-left">location_city</mat-icon>
              <input type="text" matInput placeholder="ville" name="ville" >
            </div>
        </mat-form-field>
      </mat-card-content>
      <mat-card-content fxLayout="column">
        <mat-form-field appearance="fill">
            <div class="mb-2 center">
              <mat-icon class="float-left">add_to_home_screen</mat-icon>
              <input type="text" matInput placeholder="pays" name="pays" >
            </div>
        </mat-form-field>
      </mat-card-content>
    </div>
  </div>
    <div class="mb-2" style="float:none;margin:auto; text-align: center;">
        <button mat-raised-button style="text-align: center;" color="primary" (click)="createbanque()"> Créer </button>
    </div>
</div>
