<mat-card>
  <form>
  <mat-card>
            <div class="form-group">
              <label for="exampleInputEmail1">Libellé du compte *</label>
              <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Libellé du compte">
            </div>
            <select class="form-select" aria-label=" Devise du compte">
                <option selected> Device du compte</option>
                <option value="1">Euro</option>
                <option value="2">Dollard</option>
              </select>
              <br><br>
           
              <div class="card">
                <div class="card-header text-light" style="background-color: #2865A2; text-align: center;">
                  <b>Plan Comptable</b>
              </div>
            </div><br>
            <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="exampleInputEmail1">Libellé comptable du compte *</label>
                    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Libellé comptable du compte">
                    <small id="libellé" class="form-text text-muted">(conseil : même libellé que le compte bancaire)*	.</small>
                </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="exampleInputPassword1">Référence comptable du compte</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Référence comptable du compte">
              </div>
            </div>
        </div>
              <div class="card">
                <div class="card-header text-light" style="background-color: #2865A2; text-align: center;">
                  <b>Information bancaire</b>
                </div>
                <!-- <h1 style="">  </h1> -->
            </div>
          </mat-card>
        <div class="row">
                <div class="col-sm-6">
                  <mat-card>
                <div class="form-group">
                    <label for="exampleInputEmail1">Nom de la banque *</label>
                    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Nom de la banque">
                  </div>
              <div class="form-group">
                <label for="exampleInputEmail1">IBAN *</label>
                <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="IBAN">
              </div>
              <div class="form-group">
                <label for="exampleInputEmail1"> BIC *</label>
                <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="BIC">
              </div>
              <div class="form-group">
                <label for="exampleInputEmail1">Domiciliation bancaire *</label>
                <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Domiciliation bancaire">
              </div>
              <div class="form-group">
                <label for="exampleInputEmail1">N° rue</label>
                <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Référence">
              </div>
              <div class="form-group">
                <label for="exampleInputEmail1">Code postale</label>
                <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="N° rue">
              </div>
              <div class="form-group">
                <label for="exampleInputEmail1">Pays *</label>
                <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Pays">
              </div>
            </mat-card>
            </div>
            <div class="col-sm-6">
            <mat-card>
              <div class="form-group">
                <label for="exampleInputEmail1">Ville *</label>
                <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Ville">
              </div>
              <div class="form-group">
                <label for="exampleInputEmail1">Téléphone</label>
                <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Téléphone">
              </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Mobile</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Mobile">
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">Email</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Email">
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">Nom contact</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Nom contact">
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">Prénom contact</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Prénom contact">
              </div>
            <div class="form-check">
              <input type="checkbox" class="form-check-input" id="exampleCheck1">
              <label class="form-check-label" for="exampleCheck1">Check me out</label>
            </div>
          </mat-card>
        </div>
    </div>
    <br>
    <div>
      <button class="btn text-light my-2 my-sm-0" type="submit" routerLink="/listebanque">Submit</button>
    </div>
</form>
</mat-card>
              
 
         
        