 
<div class="container  mr-5  float-left " >
    <div class=" mb-3 col-md-4 float-right">
        <div class="form-group mt-4 float-right">
            <button type="button" class="btn btn-primary text-light form-group float-right "><mat-icon>save</mat-icon>
                </button>
        </div> 
    </div>
<div class="card shadow w-100 mr-5 ">
    <div class="col-sm">
        <div class="card">
            <div class="card-header " style="text-align: center;" >
            Bilan comptable au 31/12/XXXX
            </div>
        </div>
    </div>
  
        <div class="card-body">
            <div class="row">
        <div class="col-sm-6 pr-0">
         <div class="card ">
           <div class="card-header text-light" style="background-color: #2865A2;">
             Actifs
           </div>
           <div class="card" >
            <b><u>Actifs Immobilisées</u></b>
          </div>
          <table class="table  table-striped table-hover bg-light shadow">
            <thead>
              <tr>
  
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Terrain</td>
                <td class="float-right">2 876,67</td>
              </tr>
              <tr>
               
                <td>Construction</td>
                <td class="float-right">2 876,67</td>
              </tr>
              <tr>
                <td> Matérial et outillage</td>
                <td class="float-right">2 876,67</td>
              </tr>
              <tr>
                <td> Autres Immo Incorporel</td>
                <td class="float-right">2 876,67</td>
              </tr>
              <tr>
                <td> Créance de plus de un ans</td>
                <td class="float-right">2 876,67</td>
              </tr>
              <tr>
                <td> Matérial et outillage</td>
                <td class="float-right">2 876,67</td>
              </tr>
              <tr>
                <td> Matérial et outillage</td>
                <td class="float-right">2 876,67</td>
              </tr>
              <tr>
                <td style="text-align: center;"><b>Total I</b></td>
                <td class="float-right">2 345,00</td>
              </tr>
              <tr>
                  <td><b><u>Actifs Circulants</u> </b></td>
                  <td></td>
                </tr>
              <tr>
                  <td>Stock</td>
                  <td></td>
                </tr>
            <tr>
                <td>Créances</td>
                <td></td>
            </tr>
            <tr>
                <td>Disponibilités</td>
                <td></td>
            </tr>
            <tr>
                <td style="text-align: center;"><b>Total II</b></td>
                <td class="float-right">2 345,00</td>
              </tr>
              <tr>
                <td> <b>Total Actif</b></td>
                <td class="float-right">30 000,67</td>
              </tr>
            </tbody>
          </table>
         </div>
       </div>
       <div class="col-sm-6 pl-0">
            <div class="card">
            <div class="card-header text-light " style="background-color: #2865A2;;">
                Passif
            </div>
            <div class="card">
                <b><u>Capitaux propres</u></b>
              </div>
              <table class="table  table-striped table-hover bg-light shadow">
                <thead>
                  <tr>
      
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Capital</td>
                    <td class="float-right">2 876,67</td>
                  </tr>
                  <tr>
                   
                    <td>Reserves</td>
                    <td class="float-right">2 876,67</td>
                  </tr>
                  <tr>
                   
                    <td>Rapport à nouveau</td>
                    <td class="float-right">2 876,67</td>
                  </tr>
                  <tr>
                    <td style="text-align: center;"><b>Total I</b></td>
                    <td class="float-right">2 345,00</td>
                  </tr>
                  <tr>
                    <td>Provision pour risque et charge</td>
                    <td class="float-right">2 876,67</td>
                  </tr>
                  <br>
                  <tr>
                    <td style="width: 40;">  </td>
                    <td style="width: 20;">  </td>
                  </tr>
                  <tr>
                    <td style="text-align: center;"><b>Total II</b></td>
                    <td class="float-right">2 345,00</td>
                  </tr>
                  <br>
                  <tr>
                    <td></td>
                    <td ></td>
                  </tr>
                  <tr>
                      <td>
                        <b><u>Dettes</u></b>
                      </td>
                      <td> </td>
                  </tr>
                  <tr>
                    <td >Fournisseur d'ABS II</td>
                    <td class="float-right">2 345,00</td>
                  </tr>
                  <tr>
                    <td >Dettes fiscal</td>
                    <td class="float-right">2 345,00</td>
                  </tr>
                  <tr>
                    <td >Dettes diverses</td>
                    <td class="float-right">2 345,00</td>
                  </tr>
                  <tr>
                    <td style="text-align: center;"><b>Total III</b></td>
                    <td class="float-right">2 345,00</td>
                  </tr>
                  <tr>
                    <td> <b>Total Passif</b></td>
                    <td class="float-right">30 000,67</td>
                  </tr>
                </tbody>
              </table>            
            </div>
       </div>
            
    </div>
    </div> 
</div>
