    <mat-nav-list>
        <div class="profile-card">
            <div class="header">
                <h2>Gaye Mboup</h2>
                <img src="assets/img/profil.JPG" alt="Soufiane FADIL">
                <h4>xxxxx@email.com</h4>
            </div>
        </div>
    
        <mat-divider></mat-divider>
     <!-- <h2 matSubheader>Clients</h2> -->
        <a mat-list-item routerLinkActive="list-item-active" routerLink="/liste-clients"> Clients</a>
        <mat-divider></mat-divider>
        <a mat-list-item routerLinkActive="list-item-active" routerLink="/employee-liste">Employée</a>
        <mat-divider></mat-divider>
        <mat-divider></mat-divider>
        <a mat-list-item routerLinkActive="list-item-active" routerLink="/compta">Comptabilité</a>
        <mat-divider></mat-divider>
        <a mat-list-item routerLinkActive="list-item-active" routerLink="/clocture">Clocture</a>
        <mat-divider></mat-divider>
        <a mat-list-item routerLinkActive="list-item-active" routerLink="/">Statistique</a>
        <mat-divider></mat-divider>
        <a mat-list-item routerLinkActive="list-item-active" routerLink="/listebanque">Banque</a>
        <mat-divider></mat-divider>
        <h2 matSubheader>Tools</h2>
        <a mat-list-item routerLinkActive="list-item-active" routerLink="/utilisateurs">
            <mat-icon>import_contacts</mat-icon>
            Utilisateurs
        </a>
    
        <a mat-list-item routerLinkActive="list-item-active" routerLink="/note-de-frais">
            <mat-icon>contact_phone</mat-icon>
            Leads
        </a>
    
    </mat-nav-list>