<mat-nav-list>
    <div class="profile-card">
        <div class="header">
            <h2>Gaye Mboup</h2>
            <img src="../../../assets/img/profil.jpg" alt="Soufiane FADIL">
            <h4>xxxxx@email.com</h4>
        </div>
    </div>

    <mat-divider></mat-divider>
    <!-- <h2 matSubheader>Clients</h2> -->
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/liste-clients"> <mat-icon>person_outline</mat-icon>
        Clients</a>
    <mat-divider></mat-divider>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/employee-liste"><mat-icon>supervised_user_circle</mat-icon>
        Employée</a>
    <mat-divider></mat-divider>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/compta"><mat-icon>account_balance</mat-icon>
        Comptabilité</a>
    <mat-divider></mat-divider>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/clocture"><mat-icon>closed_caption</mat-icon>
        Clocture</a>
    <mat-divider></mat-divider>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashbord"><mat-icon> show_chart</mat-icon>
        Statistique</a>
    <mat-divider></mat-divider>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/listebanque"><mat-icon>credit_card</mat-icon>
        Banque</a>
    <mat-divider></mat-divider>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/finances"><mat-icon> attach_money</mat-icon>Finance</a>
    <mat-divider></mat-divider>
    <h2 matSubheader>Tools</h2>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/utilisateurs">
        <mat-icon>import_contacts</mat-icon>
        Utilisateurs
    </a>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="dfg">
        <mat-icon>contact_phone</mat-icon>
        Leads
    </a>

</mat-nav-list>