    <mat-nav-list>
        <div class="profile-card">
            <div class="header">
                <h2>Soufiane FADIL</h2>
                <h4>xxxxx@email.com</h4>
            </div>
            <img src="assets/img/logo.PNG" alt="Soufiane FADIL">
        </div>
    
        <mat-divider></mat-divider>
     <!-- <h2 matSubheader>Clients</h2> -->
        <a mat-list-item routerLinkActive="list-item-active" routerLink="/clients" (click)="toggleSideBar()"> Clients</a>
        <a mat-list-item routerLinkActive="list-item-active" routerLink="/employee-liste">Employée</a>
            <!-- <a mat-list-item routerLinkActive="list-item-active" routerLink="/">Dashboard</a>
            <a mat-list-item routerLinkActive="list-item-active" routerLink="/">Dashboard</a>
            <a mat-list-item routerLinkActive="list-item-active" routerLink="/finances">Finances</a>
            <a mat-list-item routerLinkActive="list-item-active" routerLink="/societeliste">societeliste</a>
        </mat-expansion-panel>
        <mat-divider></mat-divider>
        <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
                <h2 matSubheader>Comptabilité</h2>
            </mat-expansion-panel-header>
            <mat-divider></mat-divider>
            <a mat-list-item routerLinkActive="list-item-active" routerLink="/">Dashboard</a>
            <a mat-list-item routerLinkActive="list-item-active" routerLink="/">Dashboard</a>
            <a mat-list-item routerLinkActive="list-item-active" routerLink="/finances">Finances</a>
            <a mat-list-item routerLinkActive="list-item-active" routerLink="/societeliste">societeliste</a>
        </mat-expansion-panel>
        <mat-divider></mat-divider>
        <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
                <h2 matSubheader>Factures</h2>
            </mat-expansion-panel-header>
            <a mat-list-item routerLinkActive="list-item-active" routerLink="/">Dashboard</a>
            <a mat-list-item routerLinkActive="list-item-active" routerLink="/">Dashboard</a>
            <a mat-list-item routerLinkActive="list-item-active" routerLink="/finances">Finances</a>
            <a mat-list-item routerLinkActive="list-item-active" routerLink="/societeliste">societeliste</a>
        </mat-expansion-panel>

        <mat-divider></mat-divider>
        <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
                <h2 matSubheader>Note de frais</h2>
            </mat-expansion-panel-header>
                <a mat-list-item routerLinkActive="list-item-active" routerLink="/">Dashboard</a>
                <a mat-list-item routerLinkActive="list-item-active" routerLink="/">Dashboard</a>
                <a mat-list-item routerLinkActive="list-item-active" routerLink="/finances">Finances</a>
                <a mat-list-item routerLinkActive="list-item-active" routerLink="/societeliste">societeliste</a>
            </mat-expansion-panel>

        <mat-divider></mat-divider>
        <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
            <h2 matSubheader>Clocture</h2>
            </mat-expansion-panel-header>
            <a mat-list-item routerLinkActive="list-item-active" routerLink="/">Dashboard</a>
            <a mat-list-item routerLinkActive="list-item-active" routerLink="/">Dashboard</a>
            <a mat-list-item routerLinkActive="list-item-active" routerLink="/finances">Finances</a>
            <a mat-list-item routerLinkActive="list-item-active" routerLink="/societeliste">societeliste</a>
        </mat-expansion-panel>
        <mat-divider></mat-divider>
        <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
                <h2 matSubheader >Société</h2>
            </mat-expansion-panel-header>
            <a mat-list-item routerLinkActive="list-item-active" routerLink="/">Dashboard</a>
            <a mat-list-item routerLinkActive="list-item-active" routerLink="/">Dashboard</a>
            <a mat-list-item routerLinkActive="list-item-active" routerLink="/finances">Finances</a>
            <a mat-list-item routerLinkActive="list-item-active" routerLink="/societeliste">societeliste</a>
        </mat-expansion-panel>
        <h2 matSubheader>Tools</h2>
     -->
        <a mat-list-item routerLinkActive="list-item-active" routerLink="/compta">
            <mat-icon>import_contacts</mat-icon>
            Contacts
        </a>
    
        <a mat-list-item routerLinkActive="list-item-active" routerLink="/note-de-frais">
            <mat-icon>contact_phone</mat-icon>
            Leads
        </a>
    
    </mat-nav-list>