
<p>
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <button mat-button [matMenuTriggerFor]="aboveMenu">Above</button>
<mat-menu #aboveMenu="matMenu" yPosition="above">
<button mat-menu-item>Item 1</button>
<button mat-menu-item>Item 2</button>
</mat-menu>

<button mat-button [matMenuTriggerFor]="belowMenu">Below</button>
<mat-menu #belowMenu="matMenu" yPosition="below">
<button mat-menu-item>Item 1</button>
<button mat-menu-item>Item 2</button>
</mat-menu>

<button mat-button [matMenuTriggerFor]="beforeMenu">Before</button>
<mat-menu #beforeMenu="matMenu" xPosition="before">
<button mat-menu-item>Item 1</button>
<button mat-menu-item>Item 2</button>
</mat-menu>


<button mat-button [matMenuTriggerFor]="afterMenu">After</button>
<mat-menu #afterMenu="matMenu" xPosition="after">
<button mat-menu-item>Item 1</button>
<button mat-menu-item>Item 2</button>
</mat-menu>
    </mat-toolbar-row>
  </mat-toolbar>
</p>
  
<div fxLayout="row" fxLayoutAlign="center" class="login-main">
  <div class="logo-div">
    <img src="./../../../assets/img/logo.PNG" alt="">
</div>
<ng-container matColumnDef="position">
<mat-card-content>
    <mat-card >
      <mat-card-header>
        <mat-card-title>Connexion</mat-card-title>
      </mat-card-header>
      <mat-card-content fxLayout="column">
        <mat-form-field appearance="fill">
        <div class="mb-5 center">
            <mat-label>Email</mat-label>
            <input matInput placeholder="email">
        </div>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <div class="mb-5 center">
            <mat-label>Password</mat-label>
            <input type="password" matInput placeholder="password">
            </div>
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions class="mb-5 center">
        <button mat-raised-button color="primary" (click)="navTo('/dashbord')">connexion</button>
      </mat-card-actions>
      <div class="center">
        <span class="password-lost-text pointer" (click)="navTo('/login')">Mot de passe oublié</span>
    </div>
    </mat-card>
    <div class="mbottom-2 around">
        <div class="center social-div facebook-div pointer">
            <mat-icon name="logo-facebook"></mat-icon>
        </div>
        <div class="center social-div google-div pointer">
            <mat-icon name="logo-google"></mat-icon>
        </div>
        <div class="center social-div linkedin-div pointer">
            <mat-icon name="logo-linkedin"></mat-icon>
        </div>
    </div>
    <div class="center">
        <span class="register-text">Vous n'avez pas encore de compte ?</span>
        <span class="password-lost-text pointer" (click)="navTo('/societeliste')">Inscription</span>
    </div>
</mat-card-content>
</ng-container>
</div>
 