<!-- <p>devisliste works!</p>
 <span class="toolbar-spacer"></span>
    <mat-card-actions class="mb-2 center">
        <mat-accordion>
            <mat-expansion-panel hideToggle>
                <mat-expansion-panel-header>
                <mat-panel-title>
                    Bilan Compte de résultat Balance
                </mat-panel-title>
              </mat-expansion-panel-header>
                    <mat-card-actions class="mb-2 center">
                        <button mat-button >Bilan synthétique</button>
                    </mat-card-actions>
                    <mat-card-actions class="mb-2 center">
                        <button mat-button >Compte de résultat synthétique</button>
                    </mat-card-actions>
                    <mat-card-actions class="mb-2 center">
                        <button mat-button>Balance Général</button>
                    </mat-card-actions>
                    <mat-card-actions class="mb-2 center">
                        <button mat-button >Bilan Général</button>
                    </mat-card-actions>  
                </mat-expansion-panel>
          </mat-accordion>
          
    </mat-card-actions>
    <mat-card-actions class="mb-2 center">
        <mat-accordion>
            <mat-expansion-panel hideToggle>
                <mat-expansion-panel-header>
                <mat-panel-title>
                    Clients
                </mat-panel-title>
              </mat-expansion-panel-header>
                    <mat-card-actions class="mb-2 center">
                      <button mat-button [routerLink]="['/employee-liste']" >Statistique vente/clients/mois</button>
                    </mat-card-actions>
                    <mat-card-actions class="mb-2 center">
                        <button mat-button >Statistique vente/clients/mois</button>
                    </mat-card-actions>
                    <mat-card-actions class="mb-2 center">
                        <button mat-button>Balance Général</button>
                    </mat-card-actions>
                </mat-expansion-panel>
          </mat-accordion> 
    </mat-card-actions>
    <mat-card-actions class="mb-2 center">
        <mat-accordion>
            <mat-expansion-panel hideToggle>
                <mat-expansion-panel-header>
                <mat-panel-title>
                    Banques /  Caisse
                </mat-panel-title>
              </mat-expansion-panel-header>
                    <mat-card-actions class="mb-2 center">
                        <button mat-button >Soldes comptes bancaires </button>
                    </mat-card-actions>
                    <mat-card-actions class="mb-2 center">
                        <button mat-button >listes opérations bancaires</button>
                    </mat-card-actions>
                    <mat-card-actions class="mb-2 center">
                        <button mat-button>Solde Caisse</button>
                    </mat-card-actions>
                    <mat-card-actions class="mb-2 center">
                        <button mat-button>Opération Caisse</button>
                    </mat-card-actions>
                </mat-expansion-panel>
          </mat-accordion>   
        </mat-card-actions>
    </mat-sidenav>
      <mat-toolbar >
          <button mat-button (click)="navTo('/dashbord')">Dashbord</button>
          <span class="toolbar-spacer"></span>
          <button mat-button (click)="navTo('/finances')" >Finances</button>
          <button mat-button (click)="navTo('/compta')">Compta</button>
          <button mat-button (click)="sidenav.toggle()">Factures</button>
          <button mat-button (click)="navTo('/note-de-frais')" >Note de frais</button>
          <button mat-button (click)="navTo('/clocture')">Clocture</button>
          <button mat-button (click)="navTo('societeliste')" >societe</button>
        </mat-toolbar>
         -->
        <div class="row">
            <div class="col-sm-3">
                <div class="form-group">
                    <label for="exampleFormControlSelect1">Example select</label>
                    <select class="form-control" id="exampleFormControlSelect1">
                    <option>Tous les Factures</option>
                    <option>Les Factures nom payée</option>
                    <option>Les Factures payée</option>
                    <option>Les Factures payée à partiel</option>
                    </select>
                </div>
            </div>
        </div>   
          <table class="table">
            <thead class="table table-striped">
              <tr>
                <th scope="col">N° Factures</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Handle</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>Larry</td>
                <td>the Bird</td>
                <td>@twitter</td>
              </tr>
            </tbody>
          </table>

   