
<div class="row">
  <div class="col-sm-3">  
  <table class="table" border="1">
    <thead class="table table-striped">
      <tr>
        <th scope="col">Details de la société</th>
      </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">Nom</th>
            <td>L & K</td>
        </tr>
      <tr>
        <th scope="row">Gerants</th>
        <td>Daouda seck</td>
      </tr>
      <tr>
        <th scope="row">email</th>
        <td>Dev@gmx.de</td>
      </tr>
      <tr>
        <th scope="row">Téléphone</th>
        <td>2345678</td>
    </tr>
    <tr>
        <th scope="row">Fax</th>
        <td>0123456789</td>

    </tr>
      <tr>
        <th scope="row">Adresse</th>
        <td>23 rue Otto</td>
      </tr>
      <tr>
        <th scope="row">Code Postale</th>
        <td> 34567</td>
      </tr>
      <tr>
        <th scope="row">Ville </th>
        <td>notto</td>
      </tr>
      <tr>
        <th scope="row">Pays </th>
        <td>France </td>
      </tr>
    </tbody>
  </table>
  </div>
  <div class="col-sm-3">  
    <table class="table">
      <thead class="table table-striped">
        <tr>
          <th scope="col"> Info complémentaire</th>
        </tr>
      </thead>
      <tbody>
          <tr>
              <th scope="row">Site web</th>
              <td>www.l&k.fr</td>
          </tr>
        <tr>
          <th scope="row">Gerants</th>
          <td>Daouda seck</td>
        </tr>
        <tr>
          <th scope="row">email</th>
          <td>Dev@gmx.de</td>
        </tr>
        <tr>
          <th scope="row">Téléphone</th>
          <td>2345678</td>
      </tr>
      <tr>
          <th scope="row">Fax</th>
          <td>0123456789</td>
        </tr>
      </tbody>
    </table>
    </div>
</div>

