 
   
   <div class="container   pt-1  mb-5 float-left ml-2" >
     <div class="card shadow ">
         <div class="card-body">
             <br>
              <span class="h3"> Clients </span> <span class="h4 text-uppercase"> L & K</span><br>
             <span ><b>Date d'inscritption:</b> 22/03/2017</span>
             <!-- <span class="float-right"><b>Employé Référent:</b> Alexia Heren</span>  <br><br> -->
             <h5><span class="badge bg_bouton_principal w-100 text-left text-light"><i class="fas fa-play"></i>  Coordonnées du clients</span></h5>
         
             <div class="card mt-3">
             <div class="card-body">
              <div class="row">
                  <div class="col-md-6">
                     <h2><u>Clients</u></h2>
                     <span><b>Nom de la Société</b> L & K</span> <br>
                     <mat-divider></mat-divider>
                     <br><br>
                     <span><b>Domaine: </b> Informatique</span><br>
                     <mat-divider></mat-divider>
                     <br><br>
                     <span><b>Email: </b>xxxxxxxxxx@gmail.com</span> <br>
                     <mat-divider></mat-divider><br><br>
                     <span><b>N°TVA: </b> </span>GF1234567<br>
                     <mat-divider></mat-divider> 
                     <br><br>
                     <span><b>Téléphone: </b> 23456789056</span><br>
                     <mat-divider></mat-divider>
                     <br><br>
                     <span><b>Fax: </b> 23456789056</span><br>
                     <mat-divider></mat-divider>
                     <br><br>
                     <span><b>Adresse: </b></span> 16 rue chartre <br>
                     <mat-divider></mat-divider>
                     <br><br>
                     <span><b>Code postale: </b></span> 98765<br>
                    <mat-divider></mat-divider>
                    <br><br>
                    <span><b>Ville: </b> Paris</span><br>
                    <mat-divider></mat-divider>
                    <br><br>
                    <span><b>Pays: </b> France</span><br>
                    <mat-divider></mat-divider>
                  </div>
                  <div class="col-md-6">
                      <h2><u>Information complémentaire</u></h2>
                      <span><b>Site web:</b> www.l&k.com</span> <br>
                      <mat-divider></mat-divider>
                      <br><br>
                     <span><b>Numéro de SIRET: </b> 789 098 456 0978 </span> <br>
                     <mat-divider></mat-divider>
                     <br><br>
                     <span><b>Skype: </b> zerdfgfg </span> <br>
                     <mat-divider></mat-divider>
                     <br><br>
                     <b>LinkedIn: </b> LK345678678 <br>
                     <mat-divider></mat-divider>
                     <br><br>
                     <b>Facebook :</b> RCS 33546784950 <br>
                </div>
              </div>  
             </div>
            </div>
         </div>
       </div> 
 </div>
