<mat-card>
    <div class="container mt-5  pt-1  mb-3 ml-2 mr-5  float-left ml-2 ">
        <div class="card-body">
            <div class="row">
                <div class="card-header w-100 h-100" style="background-color: whitesmoke;">
                    <div class="form-group">
                        <label for="billNum">Numéro facture</label>
                        <input type="text" class="form-control"  aria-describedby="emailHelp" placeholder="Entrer un numéro..." >
                    </div>
                    <div class="form-group">
                        <label for="comptable">Comptable</label>
                        <input type="text" class="form-control"  placeholder="Selectionner un comptable"  id="comptable">
                    </div>
                    <div class="form-group">
                        <label for="dateEche">Date d'échéance</label>
                        <input type="date" class="form-control" id="dateEche" >
                    </div>
                    <div class="form-group">
                        <label for="reduction">Réduction</label>
                        <input class="form-control" type="number" id="reduction" step="0.1" placeholder="réduction...">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <button class="btn text-light my-2 my-sm-0 float-right" >Créer</button>
    </div>
</mat-card>

<!-- <mat-card>
  

                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlInput1" class="form-label">Libellé de compte </label>
                            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Quantité">
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlInput1" class="form-label">Libellé </label>
                            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Libellé">
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlInput1" class="form-label">Quantité </label>
                            <input type="number" class="form-control" id="exampleFormControlInput1" placeholder="Quantité">
                        </div>
                    </div>
                    <div class=" mb-3 col-md-6">
                        <div class="form-group">
                            <label for="exampleFormControlInput1" class="form-label">Échéance </label>
                            <input type="date" class="form-control" id="exampleFormControlInput1" placeholder="échéance">
                            </div>
                        <div class="form-group">
                            <label for="form-select-lg" class="form-label">TVA </label>
                            <select class="form-control" id="exampleFormControlSelect1" name="note-de-frais">
                                <option selected value="">Article 1 </option>
                                <option value="encours"> Article A</option>
                                <option value="encours">Article B</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlInput1" class="form-label">Numéro de compte </label>
                            <input type="number" class="form-control" id="exampleFormControlInput1" placeholder="Quantité">
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlInput1" class="form-label">Prix HT </label>
                            <input type="number" class="form-control" id="exampleFormControlInput1" placeholder="prix HT">
                        </div>
                        <div class="form-group">
                            <label for="form-select-lg" class="form-label">TVA </label>
                            <select class="form-control" id="exampleFormControlSelect1" name="note-de-frais">
                                <option selected value=""> 20 % </option>
                                <option value="encours"> 19,20 % %</option>
                                <option value="encours"> 10% </option>
                                <option value="encours"> 5 %</option>

                            </select>
                        </div>
                    </div>
                    <div class="form-group mt-4 col-md">
                        <button type="button" class="btn btn-primary text-light form-group"
                            id="select-note">Ajouter un Article</button>
                    </div>
                   
                   </div>
            </div>
            <div class="form-group mt-4">
                <button type="button" class="btn btn-primary text-light form-group"
                    id="select-note">Créer</button>
            </div>
           
        </div>
        
    </div>
  </mat-card>
            -->


            