<div class="container  mr-5  float-left " >
    <div class=" mb-3 col-md-4 float-right">
        <div class="form-group mt-4 float-right">
            <button type="button" class="btn btn-primary text-light form-group float-right "><mat-icon>save</mat-icon>
                </button>
        </div> 
    </div>
<div class="card shadow w-100 mr-5 ">
    <div class="col-sm">
        <div class="card">
            <div class="card-header " style="text-align: center;" >
            Compte de résultat du 31/12/XXXX
            </div>
        </div>
    </div>
  
        <div class="card-body">
            <div class="row">
        <div class="col-sm-6 pr-0">
         <div class="card ">
           <div class="card-header text-light" style="background-color: #2865A2;">
             Charge
           </div>
           <div class="card" >
            <b><u>Charges d'explotations</u></b>
          </div>
          <table class="table  table-striped table-hover bg-light shadow">
            <thead>
              <tr>
  
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Achats de marchandises</td>
                <td class="float-right">2 876,67</td>
              </tr>
              <tr>
               
                <td>Variation de stock</td>
                <td class="float-right">2 876,67</td>
              </tr>
              <tr>
                <td> autres charges externes</td>
                <td class="float-right">2 876,67</td>
              </tr>
              <tr>
                <td> impots et taxes</td>
                <td class="float-right">2 876,67</td>
              </tr>
              <tr>
                <td style="text-align: center;"><b>Total I</b></td>
                <td class="float-right">2 345,00</td>
              </tr>
              <tr>
                  <td><b><u>Charge financières</u> </b></td>
                  <td></td>
                </tr>
              <tr>
                  <td>Interets d'emprunts</td>
                  <td></td>
                </tr>
            <tr>
                <td>autres</td>
                <td></td>
            </tr>
            <tr>
                <td style="text-align: center;"><b>Total II</b></td>
                <td class="float-right">2 345,00</td>
              </tr>
              <tr>
                <td><b><u>Charges Exceptionnels</u> </b></td>
                <td></td>
              </tr>
              <tr>
                <td> <b>Total Actif</b></td>
                <td class="float-right">30 000,67</td>
              </tr>
            </tbody>
          </table>
         </div>
       </div>
       <div class="col-sm-6 pl-0">
            <div class="card">
            <div class="card-header text-light " style="background-color: #2865A2;;">
                Produits
            </div>
            <div class="card">
                <b><u>Produits d'explotations</u></b>
              </div>
              <table class="table  table-striped table-hover bg-light shadow">
                <thead>
                  <tr>
      
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Ventes de marchandises</td>
                    <td class="float-right">2 876,67</td>
                  </tr>
                  <tr>
                   
                    <td>Prestation de services</td>
                    <td class="float-right">2 876,67</td>
                  </tr>
                  <tr>
                    <td>autres produits</td>
                    <td class="float-right">2 876,67</td>
                  </tr>
                  <tr>
                    <td>autres produits</td>
                    <td class="float-right">2 876,67</td>
                  </tr>
                  <tr>
                    <td style="text-align: center;"><b>Total II</b></td>
                    <td class="float-right">2 345,00</td>
                  </tr>
                  <tr>
                      <td>
                        <b><u>Produits financières</u></b>
                        <td></td>
                  <tr>
                    <td >Interets percus</td>
                    <td class="float-right">2 345,00</td>
                  </tr>
                  <tr>
                    <td >Escomptes obtenu</td>
                    <td class="float-right">2 345,00</td>
                  </tr>
                  <tr>
                    <td><b><u>Produits Exceptionnels</u> </b></td>
                    <td></td>
                  </tr>
                  <tr>
                    <td style="text-align: center;"><b>Total II</b></td>
                    <td class="float-right">2 345,00</td>
                  </tr>
                  <tr>
                    <td> <b>Total Passif</b></td>
                    <td class="float-right">30 000,67</td>
                  </tr>
                </tbody>
              </table>            
            </div>
       </div>
            
    </div>
    </div> 
</div>
