
.card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
}
.main-div{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
:host {
  padding: 30px
}
.button{
  color: #2865A2;
}
form{
  height: 100%;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin: 0;
//   background: #7F7FD5;
//  background: -webkit-linear-gradient(to right, #91EAE4, #2865A2, #355270);
//   background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
}